@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    --texto: "Roboto Slab", serif;
    --título: "Merriweather", serif;
    --cor-link: rgb(47, 47, 47);
    --cor-link2: rgb(236, 41, 132);
    --cor-name: rgb(4, 74, 178); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--texto);
    font-weight: 600;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(imagens/wallpaper-body.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    opacity: 0;
    transition: opacity .8s ease-in-out;

    z-index: -1;
}

.bg-visible::before {
    opacity: 1;
}

div#parallax-1 {
    width: 100vw;
}

header {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.664);
    backdrop-filter: blur(30px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding: 30px;
    position: fixed;
    z-index: 9999;
}

nav#menu > ul.links {
    display: flex;
    list-style: none;
    margin: auto;
    margin-top: 7%;
}

.links > li a {
    
    margin-right: 50px;
    font-family: var(--título);
    font-size: 1.2em;
    color: var(--cor-link);
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
}

.links a:hover {
    color: var(--cor-link2);
    padding: 0px 15px 0px 15px;
    text-shadow: 2px 4px 20px rgb(255, 123, 184);
}

.logo img{
    width: 50%;
    padding: 10px;
    transition: .5s;
}

.logo img:hover {
    transition: .5s;
    opacity: 0.5;
    transform: scale(1.1);
}

main {
    width: 1000px;
    height: auto;
    margin: auto;
    margin-bottom: 0px;
    padding-top: 250px;
    background-color: white;
}

article {
    background-color: rgba(255, 255, 255, 0.509);
    backdrop-filter: blur(15px);
    padding: 20px;
}


/* Slide */
.slider {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.247);
}

.slider .list {
    display: flex;
    width: 100%;
    height: 100%;
    transition: .8s ease-in-out;
}

.slider .item {
    min-width: 100%;
    height: 100%;
}

.slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


/* BOTÕES */
.buttons{
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 0, 132, 0.589);
    backdrop-filter: blur(0px);
    color: white;
    border: none;
    font-family: var(--título);
    font-weight: 900;
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.3s;
}

.buttons button:hover{
    transform: scale(1.1);
    color: rgb(255, 0, 132);
    background-color: rgba(255, 255, 255, 0.336);
    backdrop-filter: blur(5px);
    border: 1px solid white;
}

/* DOTS */
.dots { 
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.dots li {
    list-style: none;
    width: 12px;
    height: 12px;
    background-color: white;
    border: 2px solid rgb(255, 0, 132);
    margin: 10px;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
    box-shadow: 1px 2px 10px white;
}

.dots li.active {
    width: 35px;
    border-radius: 20px;
    transition: .3s;
}

.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade.active {
    opacity: 1;
}


/* Bem Vindos */

section#bem-vindos {
    height: auto;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; 
}

section#bem-vindos > div.container h1{
    width: 100vw;
    text-align: center;
    margin-top: 140px;
    padding: 30px;
    font-size: 3em;
    background-color: var(--cor-link2);
    color: white;
    cursor: pointer;
    transition: 0.5s;
    text-shadow: 0px 0px 5px rgba(229, 101, 152, 0.712);
}

div.container h1:hover {
    transform: scale(1.1);
    backdrop-filter: blur(30px);
}

div.imagem-container{
    margin-top: 20px;
    display: flex;
}

.texto-1{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    gap: 20px;
}

.texto-1 strong{
    font-size: 1.5em;
    font-weight: 700;
    position: relative;
}

.texto-1 strong::before {
    content: "";
    color: var(--cor-name);
    animation: palavras 6s infinite;
}

.texto-1 strong::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid var(--cor-link2);
    right: -10px;
    animation: cursor .5s infinite, digita 15s steps(15) infinite;
    width: calc(100% + 12px);
    background-color: white;
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 12px);
    }
}

@keyframes cursor {
    0%{
        border-left: 2px solid white;
    }
}

@keyframes palavras {
    0%,50%{
        content: "Wolf Kumon.";
    }
    51%,100%{
        content: "Keigo Magami.";
    }
}

.imagem-container p {
    width: 350px;
    font-size: 1.4em;
    color: var(--cor-link2);
    padding: 20px;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}

.personagem {
    position: relative;
    display: inline-block;
}

.personagem img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 2; 
}

/* SOMBRA PERFEITA NO FORMATO DO PERSONAGEM */
.personagem::before {
    content: "";
    position: absolute;
    top: 12px;          
    left: 25px;
    width: 100%;
    height: 100%;
    background-image: url("imagens/wolf-design.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: blur(2px) brightness(0);
    opacity: 0.5;
    z-index: 1;           
}

/* Sobre */

section#sobre h1{
    font-size: 1.5em;
    font-weight: 700;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: var(--cor-name);
    color: white;
}

section#sobre p {
    font-size: 1.5em;
    padding: 15px;
    color: var(--cor-name);

}

div.sobre {
    display: flex;
}

div.sobre div.imagem-sobre img {
    width: 480px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.295);
}


/* Personalidade */ 

#personalidade {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--cor-link2);
    border-radius: 20px;
    color: var(--cor-link2);
    display: flex;
    box-shadow: 0px 0px 20px var(--cor-link2);
}

div.texto-person {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 15px 0px 0px 15px;
    
}

#sessao-person h1{
    font-size: 1.5em;
    font-weight: 700;
    padding: 15px;
    margin-bottom: 0px;
    margin-top: 70px;
    background-color: var(--cor-link2);
    color: white;
    font-weight: 700;
    border-radius: 15px;
    
}

.texto-person p{
    font-size: 1em;
    padding: 10px;
    border: 2px solid;
    border-radius: 15px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.196);
    transition: 0.5s;
}

.texto-person p:hover {
    transition: .5s;
    transform: scale(1.1);
    margin-bottom: 15px;
}

.imagem-person {
     padding: 20px;
     background-color: rgb(255, 255, 255);
     border-radius: 0px 15px 15px 0px;
}

.imagem-person img {
    width: 100%;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--cor-link2);
    border: 15px solid white;
    transition: 0.8s;
    box-shadow: 0px 5px 15px var(--cor-link2);
}

.imagem-person img:hover {
    transition: 0.5s;
    filter: blur(0px) brightness(1) saturate(10);
    opacity: 0.5;
    background-color: var(--cor-name);
    box-shadow: 0px 7px 20px var(--cor-name);
}

/* Habilidades */

section#habilidades{
    width: 100%;
    height: 55vh;
    background-image: url(imagens/keigo-wolf-ww12.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    filter: contrast(110%) saturate(1.5);
}

section#habilidades h1{
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.429);
    backdrop-filter: blur(2px);
    border: 1px solid white;
    border-radius: 20px;
    display: inline-block;
}

#container-habilidades {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
}

#container-habilidades .item {
    background-color: rgba(255, 255, 255, 0.308);
    backdrop-filter: blur(20px);
    padding: 10px;
    border-radius: 15px;
    border: 1px solid white;
    width: 300px;
    transition: .5s;
}

#container-habilidades div.item:hover {
    width: 900px;
    margin-left: 15px;
    transform: scale(1);
    transition: .8s;
}

#container-habilidades .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-habilidades .nome {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}

#container-habilidades .porcent {
    font-weight: bold;
    color: aliceblue;
}

#container-habilidades .barra {
    width: 100%;
    height: 8px;
    background-color: var(--cor-name);
    border-radius: 6px;
}

#container-habilidades .progresso {
    height: 100%;
    background-image: linear-gradient(to left, var(--cor-link2),white,  var(--cor-name));
    border-radius: 4px;
    transition-duration: .5s;
}

aside#curiosidades {
    margin-top: 150px;
    height: auto;
    padding: 15px;
    background-color: var(--cor-name);
    color: white;
    border-radius: 15px;
}

aside#curiosidades h1 {
    background-color: white;
    color: var(--cor-name);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.397);
}

div#imagens-gallery {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 250px);
    justify-items: end;
    align-items: center;
    gap: 25px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.397);
}

div.imagem1 {
    grid-area: 1 / 1 / 2 / 2;
    
}

div.imagem1 img {
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.432);
}

div.imagem2 {
    grid-area: 1 / 2 / 4 / 3;
}

div.imagem2 img{
    width: 87%;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.432);
}

div.imagem3 img {
    width: 60%;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.432);
}

div#imagens-gallery img{
    transition: .5s;
}

div#imagens-gallery img:hover {
    transition: .8s;
    transform: scale(1.1);
}

div.curiosidades-text {
    padding: 20px;
    margin: 20px;
}

div.bloco {
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 20px;
    box-shadow: 8px 9px 15px rgba(0, 0, 0, 0.406);
    padding: 20px;

}

div.curiosidades-text h2 {
    font-size: 1.6em;
    padding: 8px;
}

div.curiosidades-text p {
    font-size: 1.2em;
    padding: 10px;
    text-align: justify;
}

div.curiosidades-text ul{
    font-size: 1.1em;
    padding: 20px;
}

div.curiosidades-text li{ 
    padding: 10px;
}

/* CARROSSEL */

#carrossel {
    overflow: hidden;
    padding: 50px 0;
    white-space: nowrap;
    opacity: 0.5;
    width: 100%;
}


.logos-slide {
    white-space: nowrap;
    animation: 10s slide infinite linear;
}

.logosd-slide img{
    height: 50px;
    margin: 0 40px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* Footer */

footer {
    height: 70vh;
    width: 100%;
    background-color: white;
    padding: 60px;
}

div.redes-sociais {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 60px;
    margin: 50px;
    margin-top: 0px;
    background-color: rgb(239, 239, 239);
    height: 28vw;
    border-radius: 10px;
}

div.redes-sociais a {
    text-decoration: none;
}

div.redes-sociais div.texto {
    font-size: 1.3em;
    padding: 20px;
    margin-bottom: 20px;
    font-family: var(--texto);
    font-weight: 700;
}

div.redes-sociais div.icons a{
    font-size: 40px;
    padding: 20px;
    margin: 15px;
    color: var(--cor-link);
    background-color: white;
    border-radius: 50%;
    transition: .5s;
}

div.redes-sociais div.icons a:hover{
    color: var(--cor-link2);
    background-color: rgb(250, 237, 243);
    box-shadow: 0px 0px 15px white;
    transition: .8s;
}

div.desenvolvido p {
    font-size: 1.5em;
    font-family: var(--texto);
    font-weight: 700;
}

div.desenvolvido a {
    color: var(--cor-link);
    transition: .4s;
}

div.desenvolvido a:hover {
    color: var(--cor-link2);
    transition: .5s;
}