@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    --texto: "Roboto Slab", serif;
    --título: "Merriweather", serif;
    --cor-link: rgb(47, 47, 47);
    --cor-link2: rgb(219, 21, 114);
    --cor-name: rgb(4, 74, 178); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--texto);
    background-color: white;
}

header {
    width: 100%;
    height: 185px;
    background-color: rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(30px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    position: fixed;
    z-index: 9999;
}

nav#menu > ul.links {
    display: flex;
    list-style: none;
    margin: auto;
    margin-top: 15px;
}

.links > li a {
    
    margin-right: 50px;
    font-family: var(--título);
    font-size: 1.2em;
    color: var(--cor-link);
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
}

.links a:hover {
    color: var(--cor-link2);
    padding: 15px;
    text-shadow: 2px 4px 20px rgb(255, 123, 184);
}

.logo img{
    width: 100%;
}

main {
    width: 1300px;
    height: 100vh;
    margin: auto;
    padding-top: 210px;
}
.slider {
    width: 100%;
    max-width: 1300px;
    height: 800px; /* aumentei para suas imagens ficarem bonitas */
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.247);
}

.slider .list {
    display: flex;
    width: 100%;
    height: 100%;
    transition: .8s ease-in-out;
}

.slider .item {
    min-width: 100%; /* ESSENCIAL! */
    height: 100%;
}

.slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


/* BOTÕES */
.buttons{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 0, 132, 0.589);
    backdrop-filter: blur(0px);
    color: white;
    border: none;
    font-family: var(--título);
    font-weight: 900;
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.3s;
}

.buttons button:hover{
    transform: scale(1.1);
    color: rgb(255, 0, 132);
    background-color: rgba(255, 255, 255, 0.336);
    backdrop-filter: blur(5px);
    border: 1px solid white;
}

/* DOTS */
.dots { 
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.dots li {
    list-style: none;
    width: 12px;
    height: 12px;
    background-color: white;
    border: 2px solid rgb(255, 0, 132);
    margin: 10px;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    box-shadow: 1px 2px 10px white;
}

.dots li.active {
    width: 35px;
    border-radius: 20px;
}

.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade.active {
    opacity: 1;
}


/* Bem Vindos */

section#bem-vindos {
    height: auto;
    padding: 20px;

}

section#bem-vindos > div.container h1{
    text-align: center;
    padding: 30px;
    font-size: 3em;
    color: var(--cor-link2);
    cursor: pointer;
    transition: 0.5s;
}

div.container h1:hover {
    transform: scale(1.4);
}

div.imagem-container{
    display: flex;
}

.texto-1{
    display: block;
    margin: auto;
}

.imagem-container p {
    width: 350px;
    font-size: 1.4em;
    color: var(--cor-link2);
    border-radius: 20px;
    padding: 20px;
}